[Desktop Entry]
Version=1.0
Type=Application

Name=hello-again
Comment=Just a app for learning vala.
Categories=Development;Amusement;

Icon=com.github.fluxxen.hello-again
Exec=com.github.fluxxen.hello-again
Terminal=false
